@import "../../../variables";

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

.form {
  padding: 1.5rem;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;

  h3 {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .formError {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    font-style: normal;
    text-align: center;
    padding: 0.7rem;
    border-radius: 5px1;
    background-color: rgba($colorError, 0.1);
    font-weight: 600;
  }
}
