<form [formGroup]="form" (submit)="submit()">
  <div>
    <label for="date">Date:</label>
    <input id="date" formControlName="date" type="date" />
  </div>

  <div>
    <label for="time">Time:</label>
    <input id="time" formControlName="time" type="time" />
  </div>

  <div>
    <label for="status">Status:</label>
    <input id="status" formControlName="status" type="text" />
  </div>

  <div>
    <label for="vehicleRegNo">Vehicle Registration No:</label>
    <input id="vehicleRegNo" formControlName="vehicleRegNo" type="text" />
  </div>

  <div>
    <label for="vehicleOwner">Vehicle Owner:</label>
    <input id="vehicleOwner" formControlName="vehicleOwner" type="text" />
  </div>

  <div>
    <label for="branch">Branch:</label>
    <select id="branch" formControlName="branch">
      <option value="Dortmund">Dortmund</option>
      <option value="Berlin">Berlin</option>
    </select>
  </div>

  <div>
    <label for="assignment">Assignment:</label>
    <input id="assignment" formControlName="assignment" type="text" />
  </div>

  @if (form.invalid) {
  <small style="color: red"> Out of timerange </small>
  }

  <button type="submit">Save Appointment</button>
</form>
<div>
  <button (click)="delete()">Löschen</button>
</div>
