// COLORS
$colorPrimary: #03014c;
$colorSecondary: #3a36b4;
$colorTertiary: #d1d5d4;

$colorGray: #f1f2f2;
$colorWhite: #fbfbfb;
$colorBlack: #0f100f;

$colorWarning: #ef970b;
$colorError: #de0909;
$colorSuccess: rgb(15, 152, 8);

// Layout
$sidebarWidth: 220px;
