@if(isAuthenticated() && currentUser) {
<div class="sidebar">
  <span id="logo"
    ><i class="pi pi-wrench" style="font-size: 0.95rem"></i>KFZ
    Appointment</span
  >
  <div class="inner">
    <nav>
      <ul>
        @for (link of navigation; track link.id) {
        <li>
          <a routerLink="{{ link.route }}">{{ link.title }}</a>
        </li>
        }
      </ul>
    </nav>
    <div class="userpanel">
      <div class="userpanel__user">
        <button class="userpanel__btnLogout" (click)="logout()">
          <i class="pi pi-sign-out" style="font-size: 1rem"></i>
        </button>
        <div>
          <div>{{ currentUser.username }}</div>
          <div>[{{ currentUser.role }}]</div>
        </div>
      </div>
    </div>
  </div>
</div>
}
