@import "../../../../variables";

.sidebar {
  .inner {
    padding: 1rem;
    height: 97dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebarWidth;
  height: 100dvh;
  background-color: $colorTertiary;
  margin-top: 3rem;

  nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      a {
        color: $colorBlack;
      }
    }
  }
}

#logo {
  background-color: $colorSecondary;
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebarWidth;
  padding: 1rem;
  font-weight: 700;
  color: $colorWhite;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.userpanel {
  margin: 1rem 0;
  font-size: 0.9rem;
  border-radius: 4px;
  background: darken($color: $colorTertiary, $amount: 4);

  &__user {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__btnLogout {
    background-color: transparent;
    border-radius: 4px 0 0 4px;
    border: none;
    display: flex;
    align-items: center;
    padding: 1.2rem;
    background-color: darken($color: $colorTertiary, $amount: 10);
    transition: all 0.3s;

    i {
      transform: scaleX(-1);
    }

    &:hover {
      background-color: darken($color: $colorTertiary, $amount: 18);
    }
  }
}
