@import "../../../variables";

$gridCols: repeat(6, 1fr);

.appointmentList {
  list-style-type: none;
  padding-left: 0;
  max-width: 75rem;
  border: 1px solid $colorTertiary;

  &__item {
    transition: all 0.2s;
    &:nth-child(even) {
      background-color: $colorGray;
    }

    &:hover {
      background-color: $colorTertiary;
    }

    a {
      padding: 1rem;
      text-decoration: none;
      color: $colorBlack;
      display: block;
      display: grid;
      grid-template-columns: $gridCols;
    }
  }
}
